<div>
    <div class="banner">
        <div class="banner-content">
            <h1>Bienvenue chez Garage Auto</h1>
            <p>Entretien, réparation et expertise automobile. Faites confiance à nos professionnels pour prendre soin de votre voiture.</p>
            <a href="#services" class="btn">Nos Services</a>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
      <div nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div>
      <div nft-single-card [nft]="nft[1]"></div>
      <div nft-single-card [nft]="nft[2]"></div>
      <div nft-single-card [nft]="nft[2]"></div>
      <div nft-single-card [nft]="nft[2]"></div>
      <div nft-single-card [nft]="nft[2]"></div>
      <div nft-single-card [nft]="nft[2]"></div>
    </div>
  </div>
  