<div class="flex h-screen w-screen">
  <div class="auth-bg bg-primary hidden flex-1 items-center justify-center bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="Garage Auto" />
      <h1 class="text-4xl font-bold">"Rapide, Fiable et Professionnel"</h1>
      <p class="text-xs font-light">
        Bienvenue sur notre plateforme ! Accédez à votre espace client pour suivre l'entretien de votre véhicule, 
        prendre rendez-vous en ligne et profiter de nos offres exclusives.  
        <span class="cursor-pointer font-medium text-yellow-400">Un service de qualité</span> et une équipe à votre écoute, 
        toujours prête à répondre à vos besoins.  
        Faites confiance à <span class="cursor-pointer font-medium text-yellow-400">Garage</span> pour un entretien sans souci !
      </p>
    </div>
  </div>

  <div class="bg-background flex flex-1 items-center justify-center">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- <div class="flex items-center justify-center">
        <a class="rounded-sm p-2">
          <img src="assets/icons/logo.png" style="width: 50px; height: 50px;">
        </a>
        <b class="text-md text-foreground font-bold"> GARAGE </b>
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

