<div
  id="main-content"
  class="scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted flex w-full flex-col items-center justify-center">
  <div class="w-full max-w-7xl px-4 py-8 sm:px-8">
    <div class="bg-background mt-6 rounded-lg px-8 py-8 shadow-md">
      <div class="mb-6 flex items-center justify-between">
        <h2 class="text-foreground text-lg font-semibold">Liste des Rendez-vous</h2>
      </div>
      <div class="relative overflow-x-auto">
        <table class="w-full table-auto">
          <thead class="text-muted-foreground text-xs uppercase">
            <tr>
              <!-- <th class="py-3 text-left">ID</th> -->
              <th class="py-3 text-left">Nom du client</th>
              <!-- <th class="py-3 text-left">Numéro</th> -->
              <!-- <th class="py-3 text-left">Voiture</th> -->
              <!-- <th class="py-3 text-left">Service demandé</th> -->
              <th class="py-3 text-left">Lieu</th>
              <th class="py-3 text-right">Date du RDV</th>
              <th class="py-3 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rdv of rendezVousList" class="border-border hover:bg-card border-b border-dashed">
              <!-- <td class="py-3 text-left">{{ rdv.id }}</td> -->
              <td class="py-3 text-left">{{ rdv.client.nom }}</td>
              <!-- <td class="py-3 text-left">{{ rdv.client.telephone }}</td> -->
              <!-- <td class="py-3 text-left">{{ rdv.voiture }}</td> -->
              <!-- <td class="py-3 text-left">{{ rdv.service }}</td> -->
              <td class="py-3 text-left">{{ rdv.lieu }}</td>
              <td class="py-3 text-right">{{ rdv.dateRdv | date: 'dd/MM/yyyy' }}</td>
              <td class="py-3 text-center">
                <button
                  class="mr-2 rounded-md bg-green-500 px-4 py-2 text-xs font-semibold text-white hover:bg-green-600"
                  (click)="accepterRdv(rdv.id)">
                  Accepter
                </button>
                <button
                  class="rounded-md bg-red-500 px-4 py-2 text-xs font-semibold text-white hover:bg-red-600"
                  (click)="refuserRdv(rdv.id)">
                  Refuser
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
